body {
  background-color: #eef5ff;
  font-family: "Roboto", sans-serif;
}

a {
  color: #75a7e8;
}
.weather-app {
  background: white;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 30px 50px #c4d5ed;
}

header {
  border-bottom: 1px solid #eef5ff;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #eef5ff;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: #75a7e8;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  margin-left: 0;
  font-size: 16px;
  cursor: pointer;
}

.search-form-button:hover {
  background: #eef5ff;
  color: #609ae7;
  transition: 150ms ease-in-out;
}

main {
  padding: 30px 0;
}

.weather-app-now {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 40px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.weather-app-details strong {
  color: #f65282;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  font-size: 50px;
  margin-top: 10px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-left: 10px;
}
.weather-app-unit {
  margin-top: 10px;
  font-size: 28px;
}

footer {
  border-top: 1px solid #eef5ff;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.6);
}
